* {
	margin: 0;
	padding: 0;
}
a {
cursor: pointer;
    color: blue;	
}
a:visited {
	text-decoration: none;
	
}

a:link {
	text-decoration: none;
}

ul li {
	list-style: none;
	list-style-type: none;
}

.input_border0 input{
	border: 0;
}

#main {
	border-collapse: collapse;
	
	width: 100%;
}

#main,#main tr,#main th,#main td {
	border: 1px solid #C4E1FF;
}

#main tr {
	height: 30px;
	background-color: #B2E2F6;
	line-height: 30px;
}

#main th {
	text-align: right;
	font-weight: bold;
	width: 10%;
}

#main td {
	width: 15%;
	text-align: left;
	padding-left: 5px;
}
.dialogtable{
	border-collapse: collapse;
	width: 100%;
}
.dialogtable tr,.dialogtable th,.dialogtable td {
	border: 1px solid #C4E1FF;
}

.dialogtable tr {
	height: 30px;
	line-height: 30px;
}

.dialogtable th {
	text-align: left;
	font-weight: bold;
	padding: 5px;
	width: 40%;
}

.dialogtable td {
	text-align: left;
	vertical-align:middle;
	width: 60%;
}
.dialogtable input{
	border: 0;
	margin-top: 5px;
}
.borderinput input{
	border: 1px solid red;
}



.maindiv {
	background-color: #CCC5FD;
	vertical-align: middle;
	width: 100%;
}
 h2{
	text-align: center;
}
.maindiv input {
	vertical-align: middle;
	padding: 0;
}

.searchdiv{
	padding: 5px 0 5px 10px;
    background: #E8F1FF;
    /* margin: 5px; */
    text-align: left;
}
.searchdiv input{
	height:30px;
}

.searchspan{
	text-align: center;
	color: red;
}

.carddiv{
	background-color: #E4E4FB;
	vertical-align: middle;
}

/* 左侧导航栏background: #b7d2ff */
.menu {
	/* background: #eaf2ff;
	background: -webkit-linear-gradient(#eaf2ff, #efefef); Safari 5.1 - 6.0
    background: -o-linear-gradient(#eaf2ff, #efefef); Opera 11.1 - 12.0
    background: -moz-linear-gradient(#eaf2ff, #efefef); Firefox 3.6 - 15
    background: linear-gradient(#eaf2ff, #efefef); 标准的语法（必须放在最后） */
    background: url(../../static/images/leftmenu.png) no-repeat ;
    background-color: #B2E2F6;
	color: #C84AFC;
	position: fixed;
	top: 0;
	left: 0;
	height: 680px;
	z-index: 12;
	overflow: hidden;
	width:220px;
	padding: 15px 10px 0 20px;
}

.menu-header {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

.menu-icon {
	color: #5720af;
	backgroud: #5E747B;
	text-align: center;
}

.menu a {
	text-decoration: none;
	color: #5E747B;
}

.menu ul {
	list-style: none;
}

.menu-ul li {
	margin: 5px 0;
/* 	border-top: 1px solid #fff; */
	position: relative;
	display: block;
}

.menu-ul li a {
	line-height: 13px;
	font-size: 13px;
	font-weight: 400;
	position: relative;
	display: block;
	padding: 10px 10px;
}

.menu-ul li a:hover {
	background: #ccc;
	color: #C84AFC;
}

.menu-ul li ul li a {
	padding-left: 55px;
}

.menu-ul li a i {
	width: 30px;
	text-align: center;
	margin: 4px 10px 0 0;
	font-size: 16px;
	color: #7777de;
}
.menu-li ul{
	display: none;
}
.open ul{
	display: block!important;
}
.menu-title {
	padding: 10px;
	height: 60px;
	text-align: center;
	position: relative;
}

.span-right {
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
}

.span-right>i {
	font-size: 12px;
	display: block;
}

/* 页头样式 */
.header {
	width: 400px;
	padding: 1px;
	margin-left: 87px;
	
	

	/* filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../static/images/header.png'); IE6
	background-image: none; IE6    background-color: #24748f; #c4e1ff*/
}

.headerdiv{
	background-image: url(../../static/images/headbackground.png);
	width: 100%;
    height: 200px;
    position: absolute; 
    padding-top: 13px;
    /* background：#24748f;
    background: -webkit-linear-gradient(#24748f, #c4e1ff);  
    background: -o-linear-gradient(#24748f, #c4e1ff);  
    background: -moz-linear-gradient(#24748f, #c4e1ff);  
    background: linear-gradient(#24748f, #c4e1ff);    */
    
}

.setting-header {
	margin-top: -5px;
}

.headerdiv i{
	color:#95e79f;
}

.header-icon {
	font-size: 54px;
	
	position: relative;
	left: -77px;
	top: 10px;
}

.header-icon-setting {
	font-size: 34px;
	color: #F9700C;
	display: block;
}

.header-icon-exit {
	font-size: 34px;
	color: #F9700C;
	display: block;
}

.header-tool {
	width: 356px;
	height: 26px;
	float: right;
	margin-top: -35px;
	margin-right: 40px;
}

.header-tool ul li {
	float: right;
	list-style-type: none;
	margin-right: 6px;
	padding-left: 34px
}

.header-tool span {
	color: #f9f9f9;
}

.accordion-style {
	width: 220px;
	height: 500px;
}

.imgdiv {
	text-align: center;
}

.imgdiv img {
	width: 200px;
}

.imgdiv p {
	text-align: center;
	color: blue;
}


/**************************** 欢迎页面 ***********************/
.main_welcome{
	background-color: #E8F1FF;
    height: 100%;
    width: 100%;
    position: absolute;
}
.main_welcome_icon{
	width: 100%;
    height: 200px;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
    font-size: 25px;
    color: #5720AF;
}
.main_welcome i{
	font-size: 90px;
	color: #5720AF;
}



input {
	height: 30px;
	vertical-align: middle;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	padding: 0;
	vertical-align: middle;
}

caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left;
}

th {
	text-align: right;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.table>tr {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tr>td
	{
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border: 1px solid #ddd;
}

.table>thead>tr>th {
	vertical-align: middle;
	border-bottom: 2px solid #ddd;
}

.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td
	{
	border-top: 0;
}

.table>tbody+tbody {
	border-top: 2px solid #ddd;
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tr>td
	{
	padding: 5px;
}

.table-bordered {
	border: 1px solid #ddd;
}

.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td
	{
	border: 1px solid #ddd;
}

.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
	border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.table-hover>tbody>tr:hover {
	background-color: #f5f5f5;
}

table col[class*="col-"] {
	position: static;
	display: table-column;
	float: none;
}

table td[class*="col-"],table th[class*="col-"] {
	position: static;
	display: table-cell;
	float: none;
}

.table>thead>tr>td.active,.table>tbody>tr>td.active,.table>tfoot>tr>td.active,.table>thead>tr>th.active,.table>tbody>tr>th.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>tbody>tr.active>td,.table>tfoot>tr.active>td,.table>thead>tr.active>th,.table>tbody>tr.active>th,.table>tfoot>tr.active>th
	{
	background-color: #f5f5f5;
}

.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover,.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr.active:hover>th
	{
	background-color: #e8e8e8;
}

.table>thead>tr>td.success,.table>tbody>tr>td.success,.table>tfoot>tr>td.success,.table>thead>tr>th.success,.table>tbody>tr>th.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>tbody>tr.success>td,.table>tfoot>tr.success>td,.table>thead>tr.success>th,.table>tbody>tr.success>th,.table>tfoot>tr.success>th
	{
	background-color: #dff0d8;
}

.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover,.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr.success:hover>th
	{
	background-color: #d0e9c6;
}

.table>thead>tr>td.info,.table>tbody>tr>td.info,.table>tfoot>tr>td.info,.table>thead>tr>th.info,.table>tbody>tr>th.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>tbody>tr.info>td,.table>tfoot>tr.info>td,.table>thead>tr.info>th,.table>tbody>tr.info>th,.table>tfoot>tr.info>th
	{
	background-color: #d9edf7;
}

.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover,.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr.info:hover>th
	{
	background-color: #c4e3f3;
}

.table>thead>tr>td.warning,.table>tbody>tr>td.warning,.table>tfoot>tr>td.warning,.table>thead>tr>th.warning,.table>tbody>tr>th.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>tbody>tr.warning>td,.table>tfoot>tr.warning>td,.table>thead>tr.warning>th,.table>tbody>tr.warning>th,.table>tfoot>tr.warning>th
	{
	background-color: #fcf8e3;
}

.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover,.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr.warning:hover>th
	{
	background-color: #faf2cc;
}

.table>thead>tr>td.danger,.table>tbody>tr>td.danger,.table>tfoot>tr>td.danger,.table>thead>tr>th.danger,.table>tbody>tr>th.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>tbody>tr.danger>td,.table>tfoot>tr.danger>td,.table>thead>tr.danger>th,.table>tbody>tr.danger>th,.table>tfoot>tr.danger>th
	{
	background-color: #f2dede;
}

.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover,.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr.danger:hover>th
	{
	background-color: #ebcccc;
}

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}

.tablediv {
	background-color: #E4E4FB;
	vertical-align: middle;
}
.tablediv p{
	text-align: center;
}

.tablediv input {
	vertical-align: middle;
}
.table-btndiv{
	text-align: center;
}
.table-btndiv button{
	width: 100px;
	height: 32px;
	background-color: #B2E2F6;
	text-align: center;
}
.btn {
	width: 100px;
	height: 32px;
	background-color: #B2E2F6;
	text-align: center;
}
.btn_primary {
	width: 100px;
	height: 32px;
	color: white;
	background: #428bca;;
    border-color: #357ebd;
	text-align: center;
	cursor: pointer;
}

.btn_default {
	width: 100px;
	height: 32px;
	background-color: #a4cbe8;
	text-align: center;
	cursor: pointer;
}
.btndiv {
	text-align: center;
}

.tbdiv {
	margin: 0 40px;
}

.tbdiv p {
	font-weight: bolder;
}

.photo {
	width: 150px;
	height: 180px;
	background: #bbb;
}

.photo img{
	width: 150px;
	height: 180px;
}

.qrcode {
	width: 150px;
	height: 180px;
	margin-top: 15px;
}
.qrcode span{
	text-align: center;
}
#ebikeQRCode .contentRight li {
	padding: 6px;
	color: #24748f;
	font-size: 14px;
}

 #ebikeQRCode .warm {
 	color: #24748f;
 	margin: 7px;
 }
 
 #ebikeQRCode .content {
 	height: 400;
 }
 
 #ebikeQRCode .content .contentLeft{
 	float:left; margin-left: 5%;height:400px
 }
 
 #ebikeQRCode .content .contentRight {
 float:left;margin-left: 20px;
 }

#ebikeQRCode .contentRight li label{  
	color: black;
	font-size: 14px;
}
 .btndiv_print {
	position: fixed; bottom: 10px;right:43%
}

